<tr class="align-middle text-center" data-citizen-id="<%= citizen.id -%>">
  <td class="d"><%= citizen&.id %></td>
  <td><%= image_tag citizen&.avatar.variant(:thumb) if citizen.avatar.attached? %></td>
  <td><%= citizen&.full_name %></td>
  <td><%= citizen&.document_number %></td>
  <td><%= citizen&.cns %></td>
  <td><%= citizen&.email %></td>
  <td><%= citizen&.status  %></td>
  <td><%=l(citizen&.birth_date) if citizen&.birth_date.present? %></td>
  <td width="200" class="options">
    <%= link_to citizen_path(citizen), class: 'btn btn-info btn-sm text-white', data: { turbo: false } do %>
      <i data-feather="eye"></i>
    <% end %>
    <%= link_to edit_citizen_path(citizen), class: ' btn btn-primary btn-sm' do %>
      <i data-feather="edit"></i>
    <% end %>
    <%= link_to citizen_path(citizen), method: :delete, data: { confirm: t("helpers.confirm"), turbo: true }, class: 'btn btn-danger btn-sm' do %>
      <i data-feather="trash-2"></i>
    <% end %>
  </td>
</tr>
