<tr class="align-middle text-center citizen" id="<%= dom_id(citizen, :partial) %>" >
  <td class="d"><%= citizen&.id %></td>
  <td><%= image_tag citizen&.avatar.variant(:thumb) if citizen.avatar.attached? %></td>
  <td>
    <p>
      <%= citizen&.full_name %>
      <%= status_citizen(citizen.status)  %>
    </p>
    <%= l(citizen&.birth_date) if citizen&.birth_date.present?  %>
  </td>
  <td>
    <p>
      <%= citizen&.document_number %>
    </p>
    <%= citizen&.cns %>
  </td>
  <td>
    <p>
      <%= citizen&.phone_number %>
    </p>
    <%= citizen&.email %>
  </td>

  <td>
    <%= citizen&.full_address %>
  </td>

  <td width="200" class="options">
    <%= link_to citizen_path(citizen), class: 'btn btn-info btn-sm text-white' do %>
      <i data-feather="eye"></i>
    <% end %>
    <%= link_to edit_citizen_path(citizen), class: ' btn btn-primary btn-sm' do %>
      <i data-feather="edit"></i>
    <% end %>
    <%= link_to citizen_path(citizen), data: { turbo_method: :delete, turbo_confirm: t("helpers.confirm") }, class: "btn btn-#{citizen.status == 'active' ? 'danger' : 'success'} btn-sm" do %>
      <i data-feather="<%= citizen.status == 'active' ? 'trash-2' : 'power' %>"></i>
    
    <% end %>
  </td>
</tr>
