<div id="<%= dom_id citizen %>">
  <p>
    <strong>Full nome:</strong>
    <%= citizen.full_name %>
  </p>

  <p>
    <strong>Document number:</strong>
    <%= citizen.document_number %>
  </p>

  <p>
    <strong>Cns:</strong>
    <%= citizen.cns %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= citizen.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= citizen.status %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= citizen.birth_date %>
  </p>

</div>
