<%= simple_form_for(@citizen) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if citizen.errors.any? %>
    <ul class="list-group list-group-flush">
      <% citizen.errors.each do |error| %>
        <li class="list-group-item"><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="block block-rounded block-themed shadow-sm">
    <div class="block-content">
      <div class="form-group mb-3 withIcon">
        <%= f.input :full_name %>
        <%= f.input :document_number %>
        <%= f.input :cns %>
        <%= f.input :email %>
        <div class="row mt-2">
          <div class="col-2">
            <%= f.input :country_code, as: :string %>
          </div>
          <div class="col-4">
            <%= f.input :phone_number %>
          </div>
          <div class="col">
            <%= f.input :birth_date, as: :string, input_html: {type: :date} %>
          </div>
        </div>

        <div class="card mt-2" style="width: 18rem;">
          <div class="card-body">
            <%= image_tag(f.object&.avatar.variant(:medium), class: "card-img-top", alt: "avatar_thumb") if !f.object.new_record? && f.object.avatar.attached? %>
            <p class="card-text">
              <%= f.input :avatar, as: :file %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-rounded block-themed shadow-sm">
    <div class="block-content text-center">
      <%= f.submit nil, class: 'btn btn-primary', data: {disable_with: 'Salvando...'} %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  citizens_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
