<%= simple_form_for(@citizen) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if citizen.errors.any? %>
    <ul class="list-group list-group-flush">
      <% citizen.errors.each do |error| %>
        <li class="list-group-item"><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="block block-rounded block-themed shadow-sm">
    <div class="block-content">
      <div class="card card-body mb-3">
        <div class="row mt-2">
          <div class="col">
            <%= f.input :full_name %>
            <%= f.input :document_number %>
            <%= f.input :cns %>
            <%= f.input :email %>
          </div>
          <div class="col">
            <div class="card mt-4" style="width: 18rem;">
              <div class="card-body">
                <%= image_tag(f.object&.avatar.variant(:medium), class: "card-img-top", alt: "avatar_thumb") if !f.object.new_record? && f.object.avatar.attached? %>
                <p class="card-text">
                  <%= f.input :avatar, as: :file %>
                </p>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row mt-2">
          <div class="col">
            <%= f.input :birth_date, as: :string, input_html: {type: :date} %>
          </div>
          <div class="col-2">
            <%= f.input :country_code, as: :string %>
          </div>
          <div class="col-4">
            <%= f.input :phone_number %>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title ">Endereço</h5>
            <p>
              <%= f.simple_fields_for :address do |addr| %>
                <%= addr.input :cep, input_html: { class: "cep mb-2" } %>
                <div class="row mb-2">
                  <div class="col-8">
                    <%= addr.input :street %>

                  </div>
                  <div class="col-4">
                    <%= addr.input :number %>
                  </div>
                </div>
                  <%= addr.input :neighborhood %>
                <div class="row mb-2">
                  <div class="col">
                    <%= addr.input :complement %>
                  </div>
                  <div class="col">
                    <%= addr.input :ibge %>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <%= addr.input :city %>
                  </div>
                  <div class="col">
                    <%= addr.input :state %>
                  </div>
                </div>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow-sm">
    <div class="card-body text-center">
      <%= f.submit nil, class: 'btn btn-primary', data: {disable_with: 'Salvando...'} %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  citizens_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
