<p style="color: green"><%= notice %></p>

<%= render @citizen %>

<div>
  <%= link_to "Edit this citizen", edit_citizen_path(@citizen) %> |
  <%= link_to "Back to citizens", citizens_path %>

  <%= button_to "Destroy this citizen", @citizen, method: :delete %>
</div>
